// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

$secondary-color: #ffffff;

h5{
  font-family: Arial, Helvetica, sans-serif; 
}

h2{
  font-family: 'Syne Mono', monospace;
}

.active-link{
  font-style: bold;
}

.right{
  float: right
}

footer {
  clear: both;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: lightgray
}

#carouselExampleControls{
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here
@import "navbar";
@import "jumbotron";
@import "credit";
@import "vertical-line";
@import "content";